.container__adminDashboard {
  /* background-color: red; */
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
}

.container__adminDashboard p {
  margin: 0;
  padding: 0;
}

.container__lateral {
  /* background-color: blue; */
  width: 20%;
  display: flex;
  flex-direction: column;
}

.container__principal {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.perfil__container {
  display: flex;
  background-color: #18324c;
  padding: 1rem 2rem;
  box-sizing: border-box;
  align-items: center;
  gap: 1rem;
}

.perfil__container img {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

.perfil__container__data {
  font-size: 12px;
}

.perfil__container__data h2 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 400;
}

.perfil__container__data__status {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: #2bc299;
  font-weight: 700;
}

.container__lateral h2:nth-child(2) {
  background-color: #030819;
  padding: 0.5rem;
  text-align: left;
  margin: 0;
  padding-left: 1rem;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  border-bottom: 1px solid rgba(255, 0, 0, 0.657);
}

.items__container {
  width: 100%;
  height: 100%;
  background-image: url("https://i.pinimg.com/564x/c4/2f/bb/c42fbbf92a7f1e8639dc1c454657b5fb.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.items__container::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.598);
  top: 0;
  left: 0;
  z-index: 1;
}

.items__container__text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  background-color: transparent;
  border: none;

}
.items__container__text p,
.items__container__text i {
  z-index: 10000;
  color: #8c97a7;
  font-size: 13px;
  font-weight: 700;
}

.items__container__text i {
  width: 1rem;
}

.items__container__text p:hover{
    color: #fff;
}

.container__navbar {
  width: 100%;
  height: 8%;
  background-color: #16283c;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-left: 3rem;
}

.container__logo img {
  pointer-events: none;
  width: 20px;
  height: 20px;
}

.container__logo p {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.container__perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 1.5rem;
  background-color: rgba(0, 0, 0, 0.125);
  height: 100%;
}

.container__perfil img {
  width: 2rem;
  border-radius: 50%;
}

.container__perfil h2 {
  font-size: 12px;
  color: #fff;
  margin: 0;
}


.container__navbar i {
   position: absolute;
   right: 13rem;
   cursor: pointer;
}



.containar__master{
    width: 100%;
    height: 92%;
}
.containar__master img{
  width: 30%;
  height: 82%;
}

.containar__master h2{
    width: 100%;
    background-color: #fff;
    margin: 0;
   text-align: left;
   padding-left: 5.3rem;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
   box-sizing: border-box;
   font-size: 20px;

}



.container__profile{
  width: 100%;
  height: 95.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container__profile header{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 30%;
box-sizing: border-box;
height: 80%;
background-color: #16283c;
border-radius: 1rem;
}

.container__profile header img{
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 1px solid #b5b5b6;
}

.container__profile header p {
  font-size: 20px;
  padding: 1rem;
  text-align: center;
  font-weight: 700;
  color: #fff;
}
