.container {
    
    background-image: url(../../images/analysis-background2.png);
    background-repeat: no-repeat;
    background-size: 100% 700px;
    background-position: top;
    background-attachment: inherit;
    width: 100%;
    min-height: 100vh;
    padding-top: 70px;

}

.div_container {

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    
    min-height: 50vh;
    width: 100%;
    padding: 20px;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    padding-bottom: 2rem;

    box-sizing: border-box;

    background: linear-gradient(transparent 10%, rgb(250, 250, 250)30%);
    /* backdrop-filter: blur(2px); */

}

.description {

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    
    min-height: 40vh;
    width: 100%;
    padding: 30px;

    box-sizing: border-box;

    
}

.description h1 {
    font-size: 40px;
    text-shadow: 1px 1px 5px rgb(250, 250, 250);
    
}

.description p {
    text-align: justify;
    width: 100%;
    font-size: 18px;
    align-self: flex-end;
}

.div_controllers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-self: center;
    width: 100%;
}

/* ----------------------------------------------- Estilos para que se vean en cuadricula ----------------------------------------------- */

/* .analysis_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    min-height: 50vh;
    
    margin-top: 20px;
    margin-bottom: 20px;
    

    box-sizing: border-box;

}

.item {
    display: flex;
    flex-direction: column;
    flex: 0 0 20%; 
    align-items: center;
    justify-content: flex-start;
    height: 300px;
    min-width: 250px;
    width: 20%;

    box-sizing: border-box;
    
    margin: 20px;
    
    background-color: rgb(240, 240, 240);
    
    transition: 0.5s ease-out;

}

.item div {
    position: relative;
    align-self: flex-start;
    transform: translateY(-20px) translateX(20px);
    padding: 5px;
    background-color: var(--primary);
    color:rgb(229, 224, 224);

    text-align: center;
}

.item h4 {
    margin: 15px 0;
}

.item p {
    margin: 0;
}
 
.item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.item button {
    border-radius: 0;
    padding: 2px 5px 2px 5px;
    opacity: 0%;
}

.item:hover button {
    opacity: 100%;
}
 */

 /* ----------------------------------------------- Estilos para que se vean en listado ----------------------------------------------- */

 .analysis_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 50vh;
    
    margin-top: 20px;
    margin-bottom: 20px;
    

    box-sizing: border-box;

}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    width: 100%;
    margin: 20px;

    box-sizing: border-box;
    
    background-color: rgb(240, 240, 240);
    box-shadow: 1px 1px 5px 0px rgb(0, 0, 0);
    
    transition: 0.5s ease-out;

}

.item div {
    /* position: relative;
    align-self: flex-start;
    transform: translateY(-20px) translateX(20px); */
    width: 180px;
    padding: 2px 0 5px 0;
    background-color: var(--primary);
    color:rgb(229, 224, 224);

    text-align: center;
}

.item h4 {
    width: 40%;
    margin: 15px 0;
    text-align: left;
}

.item p {
    margin: 0;
}
 
.item img {
    width: 200px;
    height: 100%;
    object-fit: cover;
}

.item button {
    border-radius: 0;
    width: 100px;
    padding: 5px;
    margin: 20px;
    opacity: 0%;
}

.item:hover button {
    opacity: 100%;
}





.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 10%;
    width: 100%;
    /* color: antiquewhite;
    text-shadow: 2px 2px 20px rgb(36, 36, 36, 1); */
}

.filter select {
    
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #aaaaaa;
    padding: 0.5rem;
    outline: none;
    color: #000000;
    
}

.pageButton {
    height: 30px;
    width: 30px;
    /* border-radius: 30px; */
    padding: 2px 2px;
    margin: 10px;
    
    
}

.pageActive {
    height: 30px;
    width: 30px;
    /* border-radius: 30px; */
    padding: 2px 2px;
    margin: 10px;
    border-width: 2px;
    border-color: #000000;
    
}

.noButton {
    visibility: hidden;
    height: 30px;
    width: 30px;
    /* border-radius: 30px; */
    padding: 2px 2px;
    margin: 10px;
    
}

.link {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;

    height: 400px;
    min-width: 250px;
    width: 20%;
    margin: 20px;
}

/* #spinner {
    animation: spinner .5s infinite;
}

@keyframes spinner {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360);
    }
} */

@media only screen and (max-width: 1200px) {
    
    .analysis_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        min-height: 50vh;
        
        margin-top: 20px;
        margin-bottom: 20px;
        
    
        box-sizing: border-box;
    
    }
}