.div{
    /* font-family: "FireSans"; */
}
.button{
    display: center;
    justify-content: space-between;
    margin: 5%;
    /* font-family: "FireSans"; */
}

.button_delete{
    display: center;
    justify-content: space-between;
 
    /* font-family: "FireSans"; */
    background-color: #C73611;
}

text_{
    /* font-family: "FireSans"; */
    display: center;
}