.container {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
  }
  
  .divimg {
    margin-top: 30px;
    width: 50%;
    margin: 20px;
  }
  
  .img {
      margin-top: 70px;
    height: 450px;
    width: 650px;
}
/* .img2 {
    margin-top: 50px;
    height: 450px;
    width: 700px;
} */

  
  
  .first {
    width: 40%;
    text-align: center;
    margin: 20px;
  }
  
  .title {
      color: #639cc7;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .p {
    text-align: center;
    font-size: 1rem;
  }
  
  