.container {
    position: relative;
    

    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    gap: 20px;
    
    min-height: 80vh;
    width: 100%;
    padding: 150px 20px 100px 20px;

    box-sizing: border-box; */

}

.container i {
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.badge {
    clip-path: circle(7px);
    background-color: var(--primary);
    height: 15px;
    width: 15px;

    position: absolute;
    right: 4px;
    bottom: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.badge p {
    font-size: 10px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}