.container {

    position: absolute;
    top: 200px;
    right: 50px;

    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    gap: 20px;
    
    min-height: 80vh;
    width: 100%;
    padding: 150px 20px 100px 20px;

    box-sizing: border-box; */

}

.container i {
    font-size: 30px;
    color: rgb(0, 0, 0);
}