
.checkoutCartContainer {
    margin-top: 100px;
}


.container_succesfull {
    width: 100%;
    min-height: 40vh;
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

.div_item {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 30px;
}

.div_item button {
    border-radius: 0px;
}