.container__medic {
  width: 100%;
  height: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
flex-direction: row-reverse;
  box-sizing: border-box;
gap: 2rem;}

.container__medic img {
  pointer-events: none;
  height: 99%;
  margin: 0;
  padding: 0;
  width: 30%;
}

.container__medicForm {
  padding-top: 2rem;
  width: 60%;
  color: #787878;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 92%;
}

.btn__form {
  border: none;
  color: #fff;
  border-radius: 0.3rem;
}

.btn__form:hover {
  color: #bebebe;
}

.container__medicForm form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 92%;
}

.container__medicForm form input {
  border: none;
  text-decoration: none;
  background-color: transparent;
  border-bottom: 1px solid #aaaaaa;
  padding: 0.5rem;
  outline: none;
  color: #aaaaaa;
  width: 9rem;
  text-align: left;
}

.container__medicForm form select {
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #aaaaaa;
  padding: 0.5rem;
  outline: none;
  color: #aaaaaa;
  width: 15rem;
}

.errors {
  background-color: rgb(148, 41, 41);
  width: 60%;
  color: #fff;
  text-transform: uppercase;
}

.container__selects {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 2rem;
  
}

.container__days{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}


.container__radioButton{
  display: flex;
  justify-content: center;
  align-items: center;
}