.contenedor {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    background-color: #f1f1f1;
    padding: 20px;
    box-sizing: border-box;
  }