.container__deleteMedic {
  width: 100%;
  height: 94.5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;

}

.container__deleteMedic form {
  width: 100%;
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  box-sizing: border-box;
  border-bottom: 1px solid #00000054;
}

.container__deleteMedic form input {
  padding: 0.3rem;
  border: 1px solid #00000054;
  border-radius: 0.2rem;
  font-size: 12px;
  outline: none;
}

.container__deleteMedic form button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  border-radius: 0.2rem;
  padding: 0.3rem;
  margin: 0;
  font-size: 10px;
  background-color: #16283c;
}

.container__deleteMedic form button:hover {
  color: #fff;
}

.tablesName {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  padding: 0;
  align-items: center;
  border-bottom: 1px solid #00000054;
  color: #00000082;
  box-sizing: border-box;
}

.tablesName p{
    width: 8rem;
    height: 100%;
    text-align: center;
    font-size: 12px;
    padding: 0;
}


.medicInfo{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
box-sizing: border-box;
padding: 1rem 0;
height: 4rem;
}

.medicInfo p{
    width: 8rem;
    height: 100%;
    text-align: center;
    font-size: 12px;
    padding: 0;
}




.medicInfo button{
    width: 8rem;
    height: 100%;
    font-size: 12px;
    padding: .3rem;
    border-radius: .1rem;
    background-color: red;
}

.medicInfo button:hover{
    color: #fff;
    border: none;
}

.container__image{
    width: 8rem;
    height: 100%;
    
}

.medicInfo .container__image img{
border-radius: 50%;
height: 100%;
}