:root {
  --primary: #639cc7;
  --secondary: #787878;
}

/* implementamos la variable asi: var(--primary); */

.container__navbar {
  background: rgba(229, 224, 224, 0.5);
  width: 100%;
  height: 70px;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  position: absolute;
  /* position: fixed; */
}

.container__logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container__logo img {
  pointer-events: none;
  width: 40px;
  height: 40px;
}

.container__logo p {
  color: var(--primary);
  font-weight: 600;
  text-transform: uppercase;
}

.container__navbar ul {
  display: flex;
  gap: 2rem;
  height: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.button__ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  border: none;
  background-color: transparent;
  color: var(--secondary);
  font-weight: 400;
}

.container__navbar ul a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  height: 100%;
  /* width: 6rem; */
  padding: 0 1rem;
  color: var(--secondary);
  font-weight: 400;
}

.container__navbar ul a:hover {
  background-color: var(--primary);
  color: #fff;
}

.button__ul:hover {
  background-color: var(--primary);
  color: #fff;
}

.container__navbar ul a:first-of-type::before {
  content: ""; /* No se necesita contenido */
  width: 20px;
  height: 20px;
  background: url("../../images/icono-medic.png") no-repeat center center;
  background-size: cover;
  display: none;
}

.container__navbar ul a:first-of-type:hover::before {
  display: block;
}

.container__navbar ul a:nth-child(2)::before {
  content: ""; /* No se necesita contenido */
  width: 20px;
  height: 20px;
  background: url("../../images/icono-institucional.png") no-repeat center
    center;
  background-size: cover;
  display: none;
}

.container__navbar ul a:nth-child(2):hover::before {
  display: block;
}

.container__navbar ul a:nth-child(3)::before {
  content: ""; /* No se necesita contenido */
  width: 20px;
  height: 20px;
  background: url("../../images/icono-news.png") no-repeat center center;
  background-size: cover;
  display: none;
}

.container__navbar ul a:nth-child(3):hover::before {
  display: block;
}

.button__ul::before {
  content: ""; /* No se necesita contenido */
  width: 20px;
  height: 20px;
  background: url("../../images/icono-especiality.png") no-repeat center center;
  background-size: cover;
  display: none;
}

.button__ul:hover::before {
  display: block;
}

.container__navbar ul a:nth-child(5)::before {
  content: ""; /* No se necesita contenido */
  width: 20px;
  height: 20px;
  background: url("../../images/icono-plans.png") no-repeat center center;
  background-size: cover;
  display: none;
}

.container__navbar ul a:nth-child(5):hover::before {
  display: block;
}

.container__especialitys {
  position: absolute;
  z-index: 1000;
  top: 70px;
  width: 100%;
}

.container__especialitys ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1rem;
  background-color: var(--primary);
}

.container__especialitys ul a {
  list-style-type: none;
  color: #fff;
  font-weight: 400;
}

.container__especialitys ul a:hover {
  color: #5d5d5d;
}
