/* @font-face {
    font-family: "FireSans";
    src: url("../../Fonts/FiraSans-Bold.ttf");
} */


.toolbar{
    background-color: var(--primary);

    
}

.img_logo{
    height: 35px;
    width: 35px;
   
    
}
.text{
   
    text-align:center;
    text-decoration: none;
   
   
}
.font{
    /* font-family: "FireSans"; */
    text-align: center;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bolder;
}
.patient{
    margin-bottom: 30px;
}
.form_text{
    /* font-family: "FireSans"; */
    text-align: center;
    margin-right: 10px;
    text-decoration: none;
    margin-top: -20px;
}